.autocomplete-container {
    position: relative;
   /* margin-bottom: 20px;  Adjust as needed to prevent overlapping with other content */
  }
  
  .autocomplete-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .autocomplete-list li {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
  }
  
  .autocomplete-list li:hover {
    background-color: #f0f0f0;
  }


  
  